#tableaux {
    border-collapse: collapse;
    width: 100%;
  }
  
  #tableaux td, #tableaux th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #tableaux tr:nth-child(even){background-color: #f2f2f2;}
  
  #tableaux tr:hover {background-color: #ddd;}
  
  #tableaux th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2FB5B8;
    color: white;
  }
  div.titre{
      width: 370px;
      float: left;
  }

  div.btm{
      width: 400px;
      float: right;
      margin: 7px 0 0 0;
  }

  div.logo{
    text-align: center;
    color: #00008B;
  }

  @media screen and (max-width: 998px) {
    .button{
        padding: 16px 32px;
  width: 30%;
        
    }
    .b1{
      width: 100%;
    }
    div.btm{
        width: 100%;
        
    }
  }
  @media screen and (max-width: 420px) {
    .button{
        font-size: 13px;
        padding: 16px 16px;
        
    }
    .b1{
      font-size: 16px;
    }

    div.btm{
        width: 100%;
        margin: 0;
        float: none;
        
    }
    div.titre{
        float: none;
        margin: 0;
    }
    
  }

  